* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: 'KG HAPPY Solid', sans-serif;
}


/* <link rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css" /> */

body {
    background-image: url(./careers-20210925T030744Z-001/careers/background-2D2E30-1.jpg);
}

.clearfloat {
    clear: both;
    float: none;
}

.careers {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
}

.gray-text {
    color: gray;
}

.pink-text {
    color: #E21837;
    text-decoration: none;
}

.hover-underline:hover {
    text-decoration: underline;
}

.white-bg {
    background-color: white;
}

.padding-50 {
    padding: 50px 0 20px 30px;
}

.bold {
    font-weight: bold;
}

.fitcontent {
    width: auto;
    height: fit-content;
}

.kghappy {
    font-family: 'KG HAPPY', sans-serif;
}

.kghappy-shadow {
    font-family: 'KG HAPPY Shadows', sans-serif, black;
}

.kghappy-solid {
    font-family: 'KG HAPPY Solid', sans-serif;
}


/* career */

.container {
    width: 100%;
    height: auto;
    /* padding: 0 auto; */
    margin: 5% auto;
    /* border: rgb(238, 23, 23) solid 1px; */
}

.container.con1 {
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
}

.selector {
    display: flex;
    margin-top: 10%;
    width: 100%;
    /* border: rgb(238, 23, 23) solid 1px; */
}

.selector a {
    padding: 30px 20px;
    background-color: white;
    display: flex;
    list-style-type: none;
    margin-left: 1%;
    justify-content: center;
    /* font-size: 120%; */
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: gray;
}

.selector a:hover {
    background-color: #E21837;
    color: white;
}

.title h1 {
    width: fit-content;
    padding: 2% 3%;
    background-color: white;
    margin-top: 10%;
    height: auto;
    font-size: 65px;
    /* border: rgb(238, 23, 23) solid 1px; */
}

.left {
    /* border: rgb(41, 179, 48) 2px solid; */
    height: 350px;
    width: 50%;
}

.right {
    /* border: yellow 2px solid; */
    height: 350px;
    width: 50%;
}

.video video {
    width: 100%;
    height: auto;
    padding: 15px;
    /* margin: 10% auto; */
    background-color: white;
    float: right;
    border: gray solid 3px;
}

.detail-careers {
    background-color: white;
    padding: 2% 3% 5% 3%;
    border: gray solid 3px;
}


/* detail career */

.view-vac {
    padding: 2%;
    background-color: #E21837;
    color: white;
    text-decoration: none;
    width: 200px;
    height: 100px;
}

.view-vac:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.pho {
    width: 40%;
    margin: 0 auto;
    /* border: olivedrab 1px solid; */
}

.pho h1 {
    width: 100%;
    height: auto;
    text-decoration: none;
    text-align: center;
    font-size: 50px;
}


/* legend */

.item {
    width: 350px;
    height: 470px;
    background-color: white;
    padding: 10px 15px;
    margin: 0 auto;
    border: solid 2px gray;
    margin: 10px;
}

.pho-element:hover {
    text-decoration: none;
}

.element {
    display: flex;
    justify-content: center;
}

.pho-element img {
    width: 100%;
    height: 70%;
    margin: 0 auto;
}


/* .pho-element {
    text-decoration: none;
    float: left;
} */

.pho-detail {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
}

.position {
    width: 200px;
}


/* culture */

.phopride {
    width: 55%;
    height: auto;
}

.phopride video {
    width: 100%;
    height: auto;
}


/* feedback */

.container.container.con1.fbcontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: royalblue solid 3px; */
    margin-top: 6%;
}

.feedback {
    width: 40%;
    margin: 0 auto;
    /* border: olivedrab 1px solid; */
    margin-top: 15%;
}

.feedback h1 {
    width: 100%;
    height: auto;
    text-decoration: none;
    text-align: center;
    font-size: 50px;
}

.fbleft {
    float: left;
    width: 48%;
    /* border: olivedrab 3px solid; */
}

.fbright {
    float: right;
    width: 48%;
    /* border: olivedrab 3px solid; */
}


/* contact */

.input-contact {
    width: 100%;
    height: auto;
}

.contact-item input,
.contact-item select,
.contact-item textarea {
    width: 100%;
    padding: 10px;
}

.btn {
    padding: 4% 10%;
    background-color: #E21837;
    color: white;
    text-decoration: none;
    width: fit-content;
    margin-top: 20px;
}

.btn:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .left {
        width: 100%;
        height: auto;
        float: none;
    }
    .title a h1 {
        width: 99%;
        height: auto;
        font-size: 200%;
    }
    .right {
        float: none;
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .selector {
        width: 100%;
    }
    .selector a {
        width: 35%;
        height: auto;
        font-size: 80%;
        font-size: 90%;
    }
    .pho-element {
        width: 90%;
        font-size: 90%;
        margin: 0 auto;
    }
    .item {
        width: 100%;
        height: 30%;
    }
    .pho {
        width: 80%;
        font-size: 80%;
    }
    .con2 {
        margin-top: 50%;
    }
    .right video {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .con2 {
        margin-top: 400px;
    }
}

@media only screen and (max-width: 992x) {}