.u__wrapper {
  max-width: 1230px;
  margin: 0 auto;
}


/* location-search */
.location-search {
  margin-top: 200px;
}

.swipeEffect__text {
  font-family: "KG HAPPY", sans-serif;
}
.white-background {
  color: #000;
  font-family: KGHappy;
  display: inline-block;
  text-align: center;
}
.location-search .white-background p {
  font-size: 80px;
  line-height: 96px;
}
.white-background p {
  padding: 15px;
  white-space: nowrap;
  display: inline-block;
  background-color: #fff;
  margin-bottom: 0;
}
/* location-search-input */
/* ls__input-wrapper */
.location-search .location-search__input .ls__input-wrapper {
  position: relative;
  border: 2px solid #c7c7c7;
}
.location-search .location-search__input {
  padding: 50px 30px;
}

.location-search .location-search__input .ls__input-submit,
.location-search .location-search__input .ls__input-wrapper,
.location-search .location-search__input .ls__view-all {
  display: inline-block;
  vertical-align: middle;
}
/* search loading */
.location-search .location-search__input .ls__input-wrapper .search-loading {
  width: 100%;
  height: 100%;
  background-color: #e21837;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.location-search
  .location-search__input
  .ls__input-wrapper
  .search-loading
  .fa {
  opacity: 0;
  color: #fff;
  left: 0;
  right: 0;
  -webkit-transition: scale 1.2s ease;
  transition: scale 1.2s ease;
}
/* search-error */
.location-search .location-search__input .ls__input-wrapper .search-error {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  background-color: #e21837;
  padding: 2px 10px;
  height: auto;
  z-index: 10;
  opacity: 0;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.location-search .location-search__input .ls__input-wrapper .search-error p {
  color: #fff;
  font-family: "KG HAPPY Solid", sans-serif;
  display: inline-block;
  text-align: center;
  line-height: 34px;
  font-size: 9px;
  margin-bottom: 0;
}
/*fa fa-crosshairs  */
.location-search .location-search__input .ls__input-wrapper .fa {
  position: absolute;
  left: 20px;
  top: 27px;
  color: #787676;
  pointer-events: none;
  z-index: 2;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.location-search .location-search__input .ls__input-wrapper input {
  font-family: "KG HAPPY Solid", sans-serif;
  padding: 18px 40px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  z-index: 1;
}
/* ls__input-submit js__search-submit */
.location-search .location-search__input .ls__input-submit {
  background-color: #e21837;
  color: #fff;
  padding: 24px 25px;
  font-size: 22px;
  line-height: 22px;
  margin-left: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
/* ls__view-all */
.location-search .location-search__input .ls__view-all {
  font-family: "KG HAPPY Solid", sans-serif;
  margin-left: 25px;
  background-color: #000;
  padding: 23px 30px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.location-search .location-search__input .ls__view-all .fa,
.location-search .location-search__input .ls__view-all p {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
/* white background mobile */
.white-background--mobile {
  display: none;
}

/* grey-background */
.grey-background {
  color: #fff;
  font-family: "KG HAPPY Solid", sans-serif;
  display: inline-block;
  text-align: center;
}
.location-search .grey-background p {
  white-space: normal;
  padding: 40px;
  font-size: 14px;
  line-height: 24px;
}

.location-search .grey-background p {
  white-space: normal;
  padding: 40px;
  font-size: 14px;
  line-height: 24px;
}
.grey-background p {
  padding: 10px;
  white-space: nowrap;
  display: inline-block;
  background-color: #485157;
  margin-bottom: 0;
}

/* All- location */
.all_location-cu li {
  margin: 10px 0;
}

.location_item-cu {
  padding: 20px;
  background-color: #FAF7F3;
  border: 3px solid #C7C7C7;
  -webkit-box-shadow: 10px 10px 2px 0 rgb(0 0 0 / 5%);
  box-shadow: 10px 10px 2px 0 rgb(0 0 0 / 5%);
}



.location_item-cu a{
  position: relative;
  width: 100%;
  height: 350px;
  display: table;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;

}

.location_item-cu img{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.location_item-cu p {
  font-family: 'KG HAPPY';
  font-size: 40px;
  background-color: #fff;
    color: #000;
    padding: 10px;
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.location_item-cu a:hover img {
  transform: scale(1.2);
}