* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

/* Header */
header {
  padding-top: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transition: opacity 0.25s ease 0s;
}
header .container {
  position: relative;
  z-index: 9989;
  max-width: 1230px;
  height: 100%;
  margin: 0px auto !important;
}

header .logo {
  position: fixed;
}

header #pho-title {
  position: fixed; /* Make it stick/fixed */
  top: 165px;
  /* width: 100%; Full width */
  transition: all 0.3s ease-out; /* Transition effect when sliding down (and up) */
}

header .center-links a {
  font-family: Bayon;
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 15px;
  transition: color 0.25s ease;
}

header .center-links a {
  text-decoration: none;
}

header .center-links a:hover::after {
  opacity: 1;
  transform: translateX(0px);
}

header .center-links a::after {
  content: "";
  width: 90%;
  height: 4px;
  position: absolute;
  bottom: 10px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  background-color: rgb(226, 24, 55);

  transform: translateX(-100px);
  opacity: 0;
  transition: all 0.5s ease 0s;
}

header .main-links {
  position: fixed;
  right: 0;
}

header .main-links a {
  margin-right: -4px;
  background-color: #000;
  color: #fff;
  padding: 20px 25px;
  display: inline-block;
  position: relative;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.44px;
  line-height: 26px;
  transition: background-color 0.25s ease;
}
/* Site location */
/* Back ground */

.background div.background__colour {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.background div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.background div.background__image {
  height: 125%;
  top: 0;
  -webkit-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}
.background div.background__gradient {
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.65) 0,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.65)),
    to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65) 0,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  height: 35vh;
  -webkit-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}
.background div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* Foreground */
.foreground main {
  padding-top: 260px;
}
.location-search__wrapper.no-max-height {
  max-height: 100%;
  height: 100%;
}
.location-search__wrapper {
  height: -webkit-calc(100vh - 250px);
  height: calc(100vh - 250px);
  min-height: 500px;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  -webkit-transition: height 0.25s ease;
  transition: height 0.25s ease;
}
.u__fullScreen {
  width: 100vw;
  height: 130vh;
}
/* Location search wrapper */
.location-search.is-active {
  position: static !important;
  height: auto;
}
.location-search__wrapper section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.25s ease, -webkit-transform 0.45s ease;
  transition: opacity 0.25s ease, transform 0.45s ease;
}
.location-search .u__wrapper {
  max-width: 725px;
}
.location-search__wrapper .u__wrapper {
  -webkit-box-align: start !important;
  -webkit-align-items: flex-start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}
/* location-search */
.swipeEffect__text {
  font-family: "KG HAPPY", sans-serif;
}
.white-background {
  color: #000;
  font-family: KGHappy;
  display: inline-block;
  text-align: center;
}
.location-search .white-background p {
  font-size: 80px;
  line-height: 96px;
}
.white-background p {
  padding: 15px;
  white-space: nowrap;
  display: inline-block;
  background-color: #fff;
  margin-bottom: 0;
}
/* location-search-input */
/* ls__input-wrapper */
.location-search .location-search__input .ls__input-wrapper {
  position: relative;
  border: 2px solid #c7c7c7;
}
.location-search .location-search__input {
  padding: 50px 30px;
}

.location-search .location-search__input .ls__input-submit,
.location-search .location-search__input .ls__input-wrapper,
.location-search .location-search__input .ls__view-all {
  display: inline-block;
  vertical-align: middle;
}
/* search loading */
.location-search .location-search__input .ls__input-wrapper .search-loading {
  width: 100%;
  height: 100%;
  background-color: #e21837;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.location-search
  .location-search__input
  .ls__input-wrapper
  .search-loading
  .fa {
  opacity: 0;
  color: #fff;
  left: 0;
  right: 0;
  -webkit-transition: scale 1.2s ease;
  transition: scale 1.2s ease;
}
/* search-error */
.location-search .location-search__input .ls__input-wrapper .search-error {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  background-color: #e21837;
  padding: 2px 10px;
  height: auto;
  z-index: 10;
  opacity: 0;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.location-search .location-search__input .ls__input-wrapper .search-error p {
  color: #fff;
  font-family: "KG HAPPY Solid", sans-serif;
  display: inline-block;
  text-align: center;
  line-height: 34px;
  font-size: 9px;
  margin-bottom: 0;
}
/*fa fa-crosshairs  */
.location-search .location-search__input .ls__input-wrapper .fa {
  position: absolute;
  left: 20px;
  top: 27px;
  color: #787676;
  pointer-events: none;
  z-index: 2;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.location-search .location-search__input .ls__input-wrapper input {
  font-family: "KG HAPPY Solid", sans-serif;
  padding: 18px 40px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  z-index: 1;
}
/* ls__input-submit js__search-submit */
.location-search .location-search__input .ls__input-submit {
  background-color: #e21837;
  color: #fff;
  padding: 24px 25px;
  font-size: 22px;
  line-height: 22px;
  margin-left: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
/* ls__view-all */
.location-search .location-search__input .ls__view-all {
  font-family: "KG HAPPY Solid", sans-serif;
  margin-left: 25px;
  background-color: #000;
  padding: 23px 30px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.location-search .location-search__input .ls__view-all .fa,
.location-search .location-search__input .ls__view-all p {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
/* white background mobile */
.white-background--mobile {
  display: none;
}

/* grey-background */
.grey-background {
  color: #fff;
  font-family: "KG HAPPY Solid", sans-serif;
  display: inline-block;
  text-align: center;
}
.location-search .grey-background p {
  white-space: normal;
  padding: 40px;
  font-size: 14px;
  line-height: 24px;
}

.location-search .grey-background p {
  white-space: normal;
  padding: 40px;
  font-size: 14px;
  line-height: 24px;
}
.grey-background p {
  padding: 10px;
  white-space: nowrap;
  display: inline-block;
  background-color: #485157;
  margin-bottom: 0;
}
/* all-locations-container */
