* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: 'KG HAPPY Solid', sans-serif;
}


/* <link rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css" /> */

body {
    background-image: url(./careers-20210925T030744Z-001/careers/background-2D2E30-1.jpg);
}

.clearfloat {
    clear: both;
    float: none;
}

.careers {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
}

.gray-text {
    color: gray;
}

.kghappy {
    font-family: 'KG HAPPY', sans-serif;
}

.kghappy-shadow {
    font-family: 'KG HAPPY Shadows', sans-serif, black;
}

.kghappy-solid {
    font-family: 'KG HAPPY Solid', sans-serif;
}

.container {
    width: 96%;
    height: auto;
    padding: 0 auto;
    margin: 5% auto;
    /* border: rgb(238, 23, 23) solid 1px; */
}

.selector {
    display: flex;
    margin-top: 10%;
}

.selector a {
    padding: 20px;
    background-color: white;
    width: 200px;
    display: flex;
    list-style-type: none;
    margin-left: 1%;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: gray;
    display: flex;
}

.selector a:hover {
    background-color: #E21837;
    color: white;
}

.selector a:checked {
    background-color: #E21837;
    color: white;
}

.title h1 {
    width: 400px;
    padding: 2% 3%;
    font-size: 300%;
    background-color: white;
    margin: 4% 1%;
}

#careers {
    background-color: #E21837;
    color: white;
}

.left {
    /* border: rgb(41, 179, 48) 1px solid; */
    width: 50%;
    float: left;
    height: 100%;
    padding-top: 30px;
}

.right {
    /* border: rgb(35, 209, 64) 1px solid; */
    width: 50%;
    height: 100%;
    float: left;
}

.container.con1 {
    margin-top: 10%;
    height: 300px;
}

.video video {
    width: 80%;
    height: auto;
    margin: auto 10%;
    padding: 15px;
    background-color: white;
}

.detail-careers {
    background-color: white;
    padding: 2% 3% 5% 3%;
}

.view-vac {
    padding: 2%;
    background-color: #E21837;
    color: white;
    text-decoration: none;
    width: 200px;
    height: 100px;
}

.view-vac:hover {
    background-color: black;
    color: white;
}

.pink-text {
    color: #E21837;
    text-decoration: none;
}

.hover-underline:hover {
    text-decoration: underline;
}

.pho {
    width: 40%;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    border: olivedrab 1px solid;
}

.pho h1 {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 50px;
}

.item {
    width: 350px;
    height: 470px;
    background-color: white;
    padding: 10px 15px;
    margin: 15px;
}

.element {
    margin-top: 5% 8%;
}

.pho-element img {
    width: 100%;
    height: 70%;
    margin: 0 auto;
}

.pho-element {
    text-decoration: none;
    float: left;
}

.pho-detail {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
}

.position {
    width: 200px;
}


/* culture */

.culture a h1 {
    font-size: 250%;
}

.phopride {
    width: 50%;
    height: auto;
}

.phopride video {
    width: 100%;
    height: auto;
}


/* feedback */

.title.feedback h1 {
    width: 300px;
    padding: 2% 3%;
    font-size: 300%;
    background-color: white;
    margin: 0 auto;
}

.fbleft {
    width: 45%;
}

.fbright {
    width: 45%;
    float: right;
}

.container.con1.height {
    height: fit-content;
}


/* contact */

.contact {
    width: 60%;
}

.contact-item {
    margin-left: 20px;
    margin-top: 20px;
}

.contact-item input {
    margin-top: 10px;
    padding: 10px;
    width: 200px;
}

.bold {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .left {
        width: 100%;
        height: auto;
        float: none;
    }
    .title a h1 {
        width: 99%;
        height: auto;
        font-size: 200%;
    }
    .right {
        float: none;
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .selector {
        width: 100%;
    }
    .selector a {
        width: 35%;
        height: auto;
        font-size: 80%;
        font-size: 90%;
    }
    .pho-element {
        width: 90%;
        font-size: 90%;
        margin: 0 auto;
    }
    .item {
        width: 100%;
        height: 30%;
    }
    .pho {
        width: 80%;
        font-size: 80%;
    }
    .con2 {
        margin-top: 50%;
    }
    .right video {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .con2 {
        margin-top: 400px;
    }
}

@media only screen and (max-width: 992x) {}